<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "New book", new_book_path, class: "btn btn-success text-light" %>
<div id="books">
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Published At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </tbody>
  </table>  
</div>


